
div {
  float:left;
  color:black;
}

#body {
  width:100%;
  height:700px;
  text-align: center;
}


@media (min-width: 960px){

  body{
    width: 960px;
    margin-left: auto;
    margin-right: auto; 
  }
  div {
    float:left;
    color:black;
  }
  #body {
    width:960px;
    height:700px;
    text-align: center;
  }
}
@media (max-width: 768px){

  div {
    float:left;
    color:black;
  }
  #body {
    width:100%;
    height:1055px;
    text-align: center;
  }
  
}